
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>UserLogin</title>
</head>
<body>
    <div> 
        <form action="DoUserLoginAction" method="post"> 
           用户名： <input type="text" name="account" />
           密码：  <input type="password" name="pwd" />
                <input type="submit"  />
        </form>

        <hr />

        <a href="Register">注册</a>
    </div>
</body>
</html>
