
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ProductDetailFromQuery</title>
</head>
<body>
    <div>

        商品详情页面，问号传值
        产品id：@ViewBag.QueryProductId
        产品型号的编号：@ViewBag.productTypeId
    </div>
</body>
</html>
