
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ProductDetailFromForm</title>
</head>
<body>
    <div> 
        商品详情页面，表单传值
    </div>
</body>
</html>
