
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ProductDetailFromRouteParam</title>
</head>
<body>
    <div> 
        商品详情页面，路由传值
        ViewBag值 -----   @ViewBag.bagProductId
        ViewData值 ----- @ViewData["ProductIdInView"]
    </div>
</body>
</html>
