
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>商品详情页面</title>
</head>
<body>
    <div> 
        这是商品详情页面

    </div>
</body>
</html>
